<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>登录</title>

<style type="text/css">
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
</style>


<link rel="stylesheet" type="text/css" href="/PUBLIC/css/style.css" />

<script type="text/javascript" src="/PUBLIC/js/jquery.min.js"></script>
<script type="text/javascript" src="/PUBLIC/js/main1.js"></script>
	<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript">
	$(function() {
		$('.verify').click(function(){
			newsrc="/Home/UserCenter/verifyCode/v/"+Math.random();
			$('.verify').attr('src',newsrc);
		})
		$('.alterVerify').click(function(){
			newsrc="/Home/UserCenter/verifyCode/v/"+Math.random();
			$('.verify').attr('src',newsrc);
		})
	})
	</script>

</head>

<body>
	<div class="cd-user-modal"> 
		<div class="cd-user-modal-container">
			<ul class="cd-switcher">
				<li><a href="#0">用户登录</a></li>
				<li><a href="#0">注册新用户</a></li>
			</ul>

			<div id="cd-login"> <!-- 登录表单 -->
				<form class="cd-form" action="/Home/UserCenter/doLogin" method="post">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signin-useremail">邮箱</label>
						<input class="full-width has-padding has-border" id="signin-username" type="text" placeholder="输入用户邮箱" name="email">
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">密码</label>
						<input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="输入密码" name="password">
					</p>
					<p class="fieldset">
						<input type="text" name="verifyCode" class="full-width3 has-padding has-border" placeholder="输入验证码">
						<img src="/Home/UserCenter/verifyCode" class="verify" align="center">
						<a href="javascript:;" class="alterVerify">换一张</a>
					</p>
					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">记住登录状态</label>
					</p>

					<p class="fieldset">
						<input class="full-width2" type="submit" value="登 录">
					</p>
				</form>
			</div>

			<div id="cd-signup"> <!-- 注册表单 -->
				<form class="cd-form" action="/Home/UserCenter/doReg" method="post" enctype="multipart/form-data">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">用户名</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="输入用户名" name="name">
					</p>
					
					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">邮箱</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="输入mail" name="email">
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">密码</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="输入密码" name="password">
					</p>
					
					<p class="fieldset">
						<input class="full-width has-padding has-border" type="file" name="image" placeholder="touxuan">
					</p>
					<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">我已阅读并同意 <a href="#0">用户协议</a></label>
					</p>
					
					<p class="fieldset">
						<input class="full-width2" type="submit" value="注册新用户">
					</p>
				</form>
			</div>

			<a href="#0" class="cd-close-form">关闭</a>
		</div>
	</div> 

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">

</div>
</body>
</html>
<script type="text/javascript">
	$(".cd-switcher").find('a').eq(0).addClass('selected');
	$('#cd-login').addClass('is-selected');
</script>
