<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>
<body>
	<form action="/Home/UserCenter/doLogin" method="post">
		邮  箱：<input type="text" name="email"><br>
		密  码：<input type="text" name="password"><br>
		验证码: <input type="text" name="verifyCode">
		<img src="/Home/UserCenter/verifyCode" class="verify"></br>
		<a href="javascript:;" class="alterVerify">换一张</a></br>
		        <input type="submit" name="" value="登录">
	</form>
	<a href="/Home/UserCenter/reg">注册</a>
	<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript">
	$(function() {
		$('.verify').click(function(){
			newsrc="/Home/UserCenter/verifyCode/v/"+Math.random();
			$('.verify').attr('src',newsrc);
		})
		$('.alterVerify').click(function(){
			newsrc="/Home/UserCenter/verifyCode/v/"+Math.random();
			$('.verify').attr('src',newsrc);
		})
	})
	</script>
</body>
</html>